[submodule ".vim/pack/ypaulc/start/nerdtree"]
	path = .vim/pack/ypaulc/start/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/pack/ypaulc/start/syntastic"]
	path = .vim/pack/ypaulc/start/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "Zenburn"]
	path = Zenburn
	url = https://github.com/jnurmine/Zenburn.git
